<h1>Main page</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam assumenda earum eos inventore laboriosam mollitia, necessitatibus non nostrum, numquam sequi tempore vel. Consequuntur eligendi ex maiores quae, quibusdam vel!</span><span>Ab, ad alias asperiores assumenda at aut commodi dicta dolor dolores fuga id impedit libero nemo numquam porro quam quas repudiandae sed similique sit tempora tempore tenetur ullam. Praesentium, sunt!</span><span>Accusantium, aliquid cum dolor dolores error eum, facere facilis harum hic maxime molestias odio possimus quo, tenetur ut? Beatae culpa cum, deleniti ea impedit ipsam laboriosam maiores nulla ratione voluptate!</span>
</p>
<button class="btn btn-primary" (click)="openLoginPage()">Открыть страницу логина</button>

