<div class="wrapper">
  <!-- /.wrapper -->
  <h1>h1 style main </h1>
  <div class="parent-component">
    <h1>App Component received Data: {{receivedData || 'Nothing received'}}</h1>
    <h1>Received Second Data {{ receivedSecondData }}</h1>
    <input placeholder="Child Header" [(ngModel)]="childHeaderText">
  </div>
  <!-- /.parent-component -->

  <!--<app-my-comp-two-lesson></app-my-comp-two-lesson>-->
  <!--<app-hmw-two></app-hmw-two>-->
  <!--<app-three-lesson></app-three-lesson>-->
  <app-data-binding
    [someComponentText]="childHeaderText"
    (passDataToParent)="receiveData($event)"
    [(secondEnteredData)]="receivedSecondData"
  >
  </app-data-binding>
</div>



