<h1>Блок 3. Теория. Компоненты</h1>
<h4>Урок 1.Передача параметров в компонент.</h4>
<!--<input type="text" class="form-control" [(ngModel)]="carName">-->
<!--<input type="text" class="form-control" [(ngModel)]="carYear">-->
<!--<button class="btn btn-primary" (click)="addCarTh()" >Добавить машину</button>-->
<app-add-car></app-add-car>

<hr>
<!-- [] -->
<!--<app-car-three *ngFor="let car of carsth" [carItem]="car" ></app-car-three>-->
<h4>Урок 2.Получение данных из компонента.</h4>
<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>
<hr>
<app-car-three *ngFor="let car of carsth" [carItem]="car" ></app-car-three>
<hr>
<h4>Урок 3. Область видимости CSS</h4>
<p>Форма добавления машины</p>
<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>
<hr>
<app-car-three *ngFor="let car of carsth" [carItem]="car" ></app-car-three>
<hr>
<h4>Урок 4. Доступ к DOM элементам</h4>
<hr>
<h4>Урок 5. Передача HTML кода компоненту</h4>
<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>
<hr>
<div class="list-group">
  <app-car-three class="list-group-item" *ngFor="let car of carsth" [carItem]="car" [name]="car.name" >

    <h4 #carHeading class="list-group-item-heading">Название: {{car.name}}</h4>

    <p class="list-group-item-text">  Год: {{car.year}} </p>
    <!-- /.alert -->
  </app-car-three>
</div>
<hr>
<h4>Урок 6. Жизненый цикл компонента</h4>
<button class="btn btn-success" (click)="changeCarName()">Изменить имя машины</button>
<button class="btn btn-danger" (click)="deleteCar()" >Удалить машину</button>


