<hr>
<h2>Structural Directives</h2>
<hr>
<h4>*ngIf</h4>
<input [(ngModel)]="checkBoxValue" type="checkbox" name="selector" id="check">
<label for="check">Change block visibility</label>
<h5 *ngIf="checkBoxValue">Hi, I can disappear from DOM!</h5>
<hr>
<h4>*ngFor</h4>
<div *ngFor="let student of studentsList">
  <p>
    <label>Hi, my name is {{ student.name }} {{ student.surname }} !</label><br>
    <label>I am {{ student.age }} years old!</label>
  </p>

</div>
<hr>
<h4>*ngSwitch</h4>
<input type="radio" name="switch" [value]="1" [(ngModel)]="switchValue">Yellow
<input type="radio" name="switch" [value]="2" [(ngModel)]="switchValue">Green
<input type="radio" name="switch" [value]="3" [(ngModel)]="switchValue">Red
<br>
<div [ngSwitch]="switchValue">
  <div class="color-box-yellow" *ngSwitchCase="1"></div>
  <div class="color-box-green" *ngSwitchCase="2"></div>
  <div class="color-box-red" *ngSwitchCase="3"></div>

</div>

<hr>
<h4>Cust</h4> <br>
<h2 *appCustomStructure="custonStructureCondition" >Hi i am a structural directive text</h2> <br>
<!--<h2 [appCustomStructure]="custonStructureCondition" >Hi i am a structural directive text</h2> <br>-->
<button (click)="custonStructureCondition = true">Set true</button>
<button (click)="custonStructureCondition = false">Set false</button>

