<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Введите Ваш email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Введите Ваш пароль">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
         Запомнить меня
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Войти</button>
      <button type="submit" class="btn btn-primary" (click)="openForgotPage()">Я забыл свой пароль</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <button type="button" class="btn btn-success" (click)="changeAuthStatus('login')" >Войти в систему</button>
      <button type="button" class="btn btn-danger" (click)="changeAuthStatus('logout')" >Выйти из системы</button>
      <button type="button" class="btn btn-outline-primary " (click)="showAuthStatus()" > Показать текущий статус</button>
    </div>
    <!-- /.col-sm-10 -->
  </div>
  <!-- /.row -->
</form>
