<div class="wrapper">
<!-- /.wrapper -->
  <div class="button" id="calculator">
    <div class="save">{{displayText || '0'}}</div>
    <div class="row_one">
      <button class="btn light_oper" (click)="getButtonValue('c')">AC</button>
      <button class="btn light_oper" (click)="getButtonValue('del')">&larr;</button>
      <button class="btn light_oper" (click)="getButtonValue('%')">%</button>
      <button class="btn oper" (click)="getButtonValue('/')">&divide;</button>
    </div>
    <div class="row_two">
      <button class="btn"  (click)="getButtonValue(7)">7</button>
      <button class="btn"  (click)="getButtonValue(8)">8</button>
      <button class="btn"  (click)="getButtonValue(9)">9</button>
      <button class="btn oper" (click)="getButtonValue('*')">x</button>
    </div>
    <div class="row_three">
      <button class="btn"  (click)="getButtonValue(4)">4</button>
      <button class="btn"  (click)="getButtonValue(5)">5</button>
      <button class="btn"  (click)="getButtonValue(6)">6</button>
      <button class="btn oper"  (click)="getButtonValue('-')">-</button>
    </div>
    <div class="row_four">
      <button class="btn" value="1" (click)="getButtonValue(1)">1</button>
      <button class="btn" value="2" (click)="getButtonValue(2)">2</button>
      <button class="btn" value="3" (click)="getButtonValue(3)">3</button>
      <button class="btn oper" (click)="getButtonValue('+')">+</button>
    </div>
    <div class="row_five">
      <button class="btn btn_nul"  (click)="getButtonValue(0)">0</button>
      <button class="btn"  (click)="getButtonValue('.')">,</button>
      <button class="btn oper" (click)="getButtonValue('=')">=</button>
    </div>
  </div>
</div>

