$template-dark-color: brown;
$red: red;

$template-full-height: 100vh;
$template-full-width: 900px;

$template-primary-font-size: 12px;
$template-primary-font-width: 400px;

label{
  background-color: $template-dark-color;
  font-size: $template-primary-font-size;
  }



