@import "../../../scss/partials/params";
@import "../../../scss/partials/mixins";

a {
  text-decoration : none;
  }

.header {
  &__meta-menu {
    background-color : $background-color-header;
    .meta-menu {
      height          : 68px;
      @include block-width;
      display         : flex;
      justify-content : space-between;
      &__selectors {
        display     : flex;
        align-items : center;
        @include disable-border;
        .selector {
          display : flex;
          &__langs {
            position : relative;
            select {
              @include header-color;
              text-transform : uppercase;
              @include header-style-select;
              width          : 50px;
              }
            }
          &__currency {
            position : relative;
            select {
              @include header-color;
              text-transform : uppercase;
              @include header-style-select;
              width          : 65px;
              margin-left    : 25px;
              }
            }
          &__langs:after,
          &__currency:after {
            @include header-style-select-after;
            }
          &__currency select:hover,
          &__langs select:hover {
            cursor : pointer;
            }
          &__currency select > option,
          &__langs select > option {
            font-size        : 18px;
            outline          : none;
            background-color : $background-color-header;
            }
          }
        }
      &__menu-about {
        .menu-about {
          &__list {
            @include clear-list;
            display : flex;
            }
          &__item {
            margin-left : 48px;
            }
          &__link {
            display : block;
            @include header-color;
            padding : 17px 0 25px;
            }
          }
        }
      }
    }
  &-info--background {
    }
  &__info {
    .header-info {
      @include block-width;
      &__row {
        .header-row {
          height          : 97px;
          display         : flex;
          justify-content : space-between;
          align-items     : center;
          &__logo {
            .logo {
              cursor : pointer;
              &__link {
                @include font-reg(32px);
                color   : $font-color-black;
                display : block;
                padding : 29px 0;
                }
              &__bold-text {
                font-weight : 600;
                }
              &__plain-text {
                font-weight : 400;
                }
              }
            }
          &__search {
            display         : flex;
            justify-content : space-around;
            align-items     : center;
            width           : 50%;
            height          : 67px;
            .search {
              display          : flex;
              justify-content  : space-between;
              @include fill;
              background-color : #ffffff;
              @include disable-border;
              border           : 2px solid $background-color-blue;
              border-radius    : 4px 0 0 4px;
              &__textfield {
                height  : 100%;
                width   : 80%;
                margin  : 0;
                border  : 0;
                border  : none;
                padding : 22px;
                @include header-color(0.3);
                }
              &__select-block {
                display     : flex;
                align-items : center;
                position    : relative;
                height      : 100%;
                width       : 20%;
                border      : none;
                margin      : 0;
                border      : 0;
                padding     : 0;
                select {
                  @include fill;
                  @include header-color(1);
                  @include header-style-select;
                  cursor : pointer;
                  }
                select:after {
                  content        : "//";
                  color          : black;
                  height         : 10px;
                  width          : 10px;
                  position       : absolute;
                  display        : block;
                  pointer-events : none;
                  }
                }
              &__btn {
                height           : 100%;
                width            : 10%;
                border           : none;
                margin           : 0;
                border           : 0;
                padding          : 0;
                background-color : $background-color-blue;
                color            : white;
                font-size        : 30px;
                border-radius    : 0 4px 4px 0;
                cursor           : pointer;
                }
              }
            }
          &__shop-info {
            width           : 18%;
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            .notification {
              position : relative;
              cursor   : pointer;
              &__icon {
                @include shop-icon;
                }
              &__label {
                @include shop-icon;
                background-color : $background-color-gray;
                border-radius    : 50%;
                position         : absolute;
                top              : 50%;
                left             : 70%;
                @include font-reg(18px);
                color            : $font-color-header-meta;
                display          : flex;
                justify-content  : center;
                align-items      : center;
                }
              &__notice {
                }
              }
            .cart-total {
              @include font-reg(24px);
              color : $background-color-blue;
              }
            }
          &__categories {
            height           : 70px;
            width            : 370px;
            margin-top       : $margin-top-menu;
            border-radius    : 4px;
            background-color : $background-color-blue;
            //background-color : $background-color-red;
            cursor           : pointer;
            .menu-list {
              @include fill;
              position : relative;
              @include disable-border;
              }
            .menu-list:after {
              content        : "";
              border-style   : solid;
              border-width   : 7px 7px 0 7px;
              border-color   : #fff transparent transparent transparent;
              pointer-events : none;
              position       : absolute;
              top            : 50%;
              right          : 30px;
              z-index        : 1;
              margin-top     : -2px;
              }
            .menu-list select {
              color              : $font-color-white;
              @include font-reg(21px);
              text-transform     : uppercase;
              -webkit-appearance : none;
              -moz-appearance    : none;
              appearance         : none;
              @include fill;
              padding            : 0 30px;
              background         : none;
              border             : none;
              cursor             : pointer;
              option {
                background-color : $background-color-header;
                color            : $font-color-header-meta;
                }
              }
            }
          // header-row__menu
          &__menu {
            width : 73%;
            .menu {
              &__topmenu {
                display         : flex;
                justify-content : space-between;
                @include clear-list;
                .menu-item {
                  position : relative;
                  &__link {
                    display        : block;
                    text-transform : uppercase;
                    @include font-reg(22px, 600);
                    color          : $font-color-header-meta;
                    padding        : 5px;
                    margin-left    : 5px;
                    }
                  &__link:hover {
                    color : $font-color-blue;
                    }
                  .menu-item_fa-angle-down {
                    color    : $font-color-header-meta;
                    position : absolute;
                    right    : -15px;
                    top      : 30%;
                    cursor   : pointer;
                    }
                  &__submenu {
                    @include clear-list;
                    background       : $background-color-white;
                    position         : absolute;
                    left             : 0;
                    top              : 100%;
                    z-index          : 5;
                    width            : 100%;
                    opacity          : 0;
                    transform        : scaleY(0);
                    transform-origin : 0 0;
                    transition       : .3s ease-in-out;
                    .submenu-item {
                      &__link {
                        text-align    : left;
                        padding       : 10px;
                        //text-transform : uppercase;
                        @include font-reg(18px);
                        color         : $font-color-header-meta;
                        border-bottom : 1px solid rgba(255, 255, 255, .1);
                        }
                      &__link:hover {
                        color : $font-color-blue;
                        }
                      }
                    }
                  }
                .menu-item:hover {
                  .menu-item__submenu {
                    opacity   : 1;
                    transform : scaleY(1);
                    }
                  }
                }
              }
            }
          &__cont {
            margin-top : $margin-top-menu;
            cursor     : pointer;
            .cont {
              height           : 6px;
              width            : 6px;
              border-radius    : 50%;
              background-color : $background-color-blue;
              position         : relative;
              }
            .cont:before,
            .cont:after {
              content          : "";
              position         : absolute;
              width            : 100%;
              height           : 100%;
              left             : 0;
              background-color : inherit;
              border-radius    : inherit;
              }
            .cont:before {
              top : -150%;
              }
            .cont:after {
              top : 150%;
              }
            }
          }
        }
      }
    }
  }

