<div class="container__header">
  <div class="header">
    <div class="header__meta-menu">
      <div class="meta-menu">
        <div class="meta-menu__selectors">
          <div class="selector">
            <div class="selector__langs">
              <select name="langs">
                <option value="en">en</option>
                <option value="ru">ru</option>
                <option value="ua">ua</option>
              </select>
            </div>
            <div class="selector__currency">
              <select name="currency">
                <option value="usd">usd</option>
                <option value="euro">euro</option>
                <option value="uah">uah</option>
              </select>
            </div>
          </div>
        </div>
        <div class="meta-menu__menu-about">
          <div class="menu-about">
            <ul class="menu-about__list">
              <li class="menu-about__item">
                <a href="#" class="menu-about__link">Help & Contact</a>
              </li>
              <li class="menu-about__item">
                <a href="#" class="menu-about__link">Order Status</a>
              </li>
              <li class="menu-about__item">
                <a href="#" class="menu-about__link">My Account</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header__info">
      <div class="header-info">
        <div class="header-info__row">
          <div class="header-row">
            <div class="header-row__logo">
              <div class="logo">
                <a href="#" class="logo__link">
                  <span class="logo__bold-text">Media</span>
                  <span class="logo__plain-text">market</span>
                </a>
              </div>
              <!-- /.logo -->
            </div>
            <!-- /.header-row__logo -->
            <div class="header-row__search">
              <div class="search">
                <input type="text" class="search__textfield" placeholder="Search for products..."
                       aria-label="search_for_products" aria-describedby="search__textfield">
                <div class="search__select-block">
                  <select class="search__select" id="inputGroupSelect04">
                    <option selected>All?Categories</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>

                <!-- /.search__select-block -->
              </div>
              <button class="search__btn" type="button"><i class="fas fa-search"></i></button>
            </div>
            <!-- /.header-row__search -->
            <div class="header-row__shop-info">
              <!-- /.header-row__info-shop -->
              <div class="shop-info__wishlist">
                <div class="notification wishlist">
                  <i class="far fa-heart notification__icon"></i>
                  <div class="notification__label">
                    <span class="notification_notice">0</span>
                    <!-- /.notice -->
                  </div>
                </div>
              </div>
              <!-- /.header__wishlist -->
              <div class="shop-info__cart">
                <div class="cart-info">
                  <div class="cart-info__cart">
                    <div class="notification cart">
                      <img class="notification__icon" src="src/fonts/svg/icon-bag.svg" alt="">
                      <div class="notification__label">
                        <span class="notification_notice">2</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- /.header__cart -->
              <div class="shop-info__total">
                <div class="cart__total">
                  <div class="cart-total">$0.00</div>
                </div>
              </div>
              <!-- /.shop-info__total -->
            </div>
          </div>
          <!-- /.header-row -->
        </div>
        <div class="header-info__row">
          <div class="header-row">
            <div class="header-row__categories">
              <div class="menu-list">
                <select name="categories-menu" id="#">
                  <option selected>Shop by Category</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

              <!-- /.menu-list -->
            </div>
            <!-- /.header-row__categories -->
            <div class="header-row__menu">
              <nav class="menu">
                <ul class="menu__topmenu">
                  <li class="menu-item"><a class="menu-item__link" href="#">Home</a>
                    <i class="fas fa-angle-down menu-item_fa-angle-down"></i>
                    <ul class="menu-item__submenu">
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Home_1</a>
                      </li>
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Home_2</a>
                      </li>
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Home_3</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item"><a class="menu-item__link" href="#">Shop</a>
                    <i class="fas fa-angle-down menu-item_fa-angle-down"></i>
                    <ul class="menu-item__submenu">
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Shop_1</a></li>
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Shop_2</a></li>
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Shop_3</a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a class="menu-item__link" href="#">Blog</a>
                    <i class="fas fa-angle-down menu-item_fa-angle-down"></i>
                    <ul class="menu-item__submenu">
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Blog_1</a>
                      </li>
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Blog_2</a>
                      </li>
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Blog_3</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item"><a class="menu-item__link" href="#">Pages</a>
                    <i class="fas fa-angle-down menu-item_fa-angle-down"></i>
                    <ul class="menu-item__submenu">
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Pages_1</a>
                      </li>
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Pages_2</a>
                      </li>
                      <li class="submenu-item"><a class="submenu-item__link"
                                                  href="#">Pages_3</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item"><a class="menu-item__link" href="#">Products</a></li>
                  <li class="menu-item"><a class="menu-item__link" href="#">Brands</a></li>
                  <li class="menu-item"><a class="menu-item__link" href="#">Today's Deals</a></li>
                  <li class="menu-item"><a class="menu-item__link" href="#">new arrivals</a></li>

                </ul>
              </nav>
              <!-- /.menu -->

            </div>
            <!-- /.header-row__menu -->
            <div class="header-row__cont">
              <div class="cont">

              </div>
              <!-- /.cont -->
            </div>
            <!-- /.header-row__cont -->
          </div>
          <!-- /.header-row -->
        </div>
        <!-- /.header-info__row -->
      </div>
      <!-- /.header-info -->
    </div>
    <!-- /.header__info -->
  </div>
  <!-- /.header -->
</div>
<!-- /.container__header -->
