.header{
  width: 100%;
  height: 200px;
  background-color: grey;
  }
.navigation-bar {
  height: 100px;
  background-color: yellowgreen;
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  }
.navigation-bar a{
  display: flex;
  background-color: blueviolet;
  padding: 10px;
  
  }

.active-link  {
   color: white;
  text-decoration: underline;
  }

.footer{
  width: 100%;
  height: 200px;
  background-color: coral;
  }
