<div class="container__specials">
  <div class="specials">
    <div class="specials-item">
      <div class="special-item__heading">dji drone Reality Capture</div>
      <a class="special-item__link" href="#">Discover Now</a>
      <img class="special-item__img" src="src/images/drone.png" alt="">
    </div>
    <!-- /.specials-item -->
    <div class="specials-item">
      <div class="special-item__heading">osmo mobile Beyond Smart</div>
      <a class="special-item__link" href="#">Discover Now</a>
      <img class="special-item__img" src="src/images/osmo.png" alt="">
    </div>
    <!-- /.specials-item -->
    <div class="specials-item">
      <div class="special-item__heading">s3 flexible Home Speaker</div>
      <a class="special-item__link" href="#">Discover Now</a>
      <img class="special-item__img" src="src/images/flexible.png" alt="">
    </div>
    <!-- /.specials-item -->
  </div>
  <!-- /.specials -->
</div>
<!-- /.container__specials -->
