<h3>Uppercase Pipe</h3>
<strong><label>Source:</label></strong> {{lowerCaseString}}<br>
<strong><label>Result (lowerCaseString | uppercase): </label></strong> {{lowerCaseString | uppercase}}
<hr>

<h3>Lowercase Pipe</h3>
<strong><label>Source: </label></strong> {{upperCaseString}}<br>
<strong><label>Result (lowerCaseString | uppercase): </label></strong> {{upperCaseString | lowercase}}
<hr>

<h3>Title Pipe</h3>
<strong><label>Source: </label></strong> {{sentence}}<br>
<strong><label>Result (sentence | titlecase): </label></strong> {{sentence | titlecase}}
<hr>

<h3>Slice Pipe</h3>
<strong><label>Source: </label></strong> {{lowerCaseString}}<br>
<strong><label>Result (lowerCaseString | slice:5:9 ): </label></strong> {{lowerCaseString | slice:5:9 }}
<hr>

<h3>Decimal Pipe</h3>
<strong><label>Source: </label></strong> {{pi}}<br>
<strong><label>Result (pi | number:'3.5-5' ): </label></strong> {{pi | number:'3.5-5'}}
<hr>


<h3>Currency Pipe</h3>
<strong><label>Source: </label></strong> {{pi}}<br>
<strong><label>Result (pi | currency): </label></strong> {{pi | currency}}<br>
<strong><label>Result (pi | currency:'USD': 'symbol'): </label></strong> {{pi | currency:'USD': 'symbol'}}
<hr>

<h3>Percent Pipe</h3>
<strong><label>Source: </label></strong> {{pi}}<br>
<strong><label>Result (pi | percent): </label></strong> {{pi | percent}}<br>
<hr>

<h3>Date Pipe</h3>
<strong><label>Source: </label></strong> {{today}}<br>
<strong><label>Result (today | date): </label></strong> {{today | date}}<br>
<strong><label>Result (today | date:'fullDate'): </label></strong> {{today | date:'fullDate'}}<br>
<strong><label>Result (today | shortTime): </label></strong> {{today | date:'shortTime'}}<br>
<hr>


<h3>JSON Pipe</h3>
<strong><label>Source: </label></strong> {{object}}<br>
<strong><label>Result (object | json): </label></strong> {{object | json}}
<hr>

<h3>Chaining Pipe</h3>
<strong><label>Source: </label></strong>{{lowerCaseString}}<br>
<strong><label>Result (lowerCaseString | uppercase | slice:5:9): </label>
</strong> {{lowerCaseString | uppercase | slice:5:9}}
<hr>

<h3>Custom Pipe Greeting</h3>
<strong><label>Source: </label></strong>{{firstName}}<br>
<strong><label>Result (firstName | polite:true): </label>
</strong> {{firstName | polite:true}}
<hr>

<h3>Custom Pipe Leave</h3>
<strong><label>Source: </label></strong>{{firstName}}<br>
<strong><label>Result (firstName | polite:false): </label>
</strong> {{firstName | polite:false}}
<hr>


<h3>Build in Async Pipe</h3>
<strong><label>Source: </label></strong>{{clock}}<br>
<strong><label>Result (clock | async): </label>
</strong> {{clock | async}}
<hr>
