<div class="container__month-deals">
  <div class="month-deals">
    <div class="month-deals__heading">
      <div class="month-deals__heading-links">
        <a href="#" class="month-deals__link">New Arrivals</a>
        <a href="#" class="month-deals__link">On Sale</a>
        <a href="#" class="month-deals__link">Best Rated</a>
        <a href="#" class="month-deals__link">Popular Products</a>
      </div>
    </div>
    <div class="month-deals__controls">
      <div class="month-deals-controls mm-slider">
        <div class="mm-slider__btn"><i class="fas fa-chevron-left mm-slider__btn_prev"></i></div>
        <div class="mm-slider__btn"><i class="fas fa-chevron-right mm-slider__btn_next"></i></div>
      </div>
    </div>
    <div class="month-deals__slide month-deals__slide_shown">
      <div class="month-deals-slide">
        <div class="month-deals-slide__label">
          <div class="mm-slider__btn"><i class="fas fa-chevron-left mm-slider__btn_prev"></i></div>
          <h2 class="month-deals-slide__label-head">Deals of the month</h2>
          <div class="mm-slider__btn"><i class="fas fa-chevron-right mm-slider__btn_next"></i></div>
        </div>
        <img src="src/images/thermostat_black.png" class="month-deals-slide__img" alt="">
        <div class="month-deals-slide__prices">
          <div class="month-deals-slide__price_new">$169.95</div>
          <div class="month-deals-slide__price_old">$269.00</div>
        </div>
        <div class="month-deals-slide__heading">ecobee3 lite Smart Thermostat</div>
        <div class="month-deals-slide__avail">
          <div class="month-deals-slide__available">
            <div class="month-deals-slide__qty">Available:</div>
            <div class="month-deals-slide__qty_avail">7</div>
          </div>
          <div class="month-deals-slide__sold">
            <div class="month-deals-slide__qty">Already Sold:</div>
            <div class="month-deals-slide__qty_sold">2</div>
          </div>
        </div>
        <!-- /.month-deals-slide__avail -->
        <div class="month-deals-slide__indicator"></div>
      </div>
      <!-- /.month-deals-slide -->
      <div class="month-deals-slide">
        <div class="month-deals-slide__label">
          <div class="mm-slider__btn"><i class="fas fa-chevron-left mm-slider__btn_prev"></i></div>
          <h2 class="month-deals-slide__label-head">Deals of the month</h2>
          <div class="mm-slider__btn"><i class="fas fa-chevron-right mm-slider__btn_next"></i></div>
        </div>
        <img src="src/images/headphones_black.png" class="month-deals-slide__img" alt="">
        <div class="month-deals-slide__prices">
          <div class="month-deals-slide__price_new">$299.95</div>
          <div class="month-deals-slide__price_old">$269.00</div>
        </div>
        <div class="month-deals-slide__heading">Beats Solo3 Wireless
          On–Ear Headphones</div>
        <div class="month-deals-slide__avail">
          <div class="month-deals-slide__available">
            <div class="month-deals-slide__qty">Available:</div>
            <div class="month-deals-slide__qty_avail">7</div>
          </div>
          <div class="month-deals-slide__sold">
            <div class="month-deals-slide__qty">Already Sold:</div>
            <div class="month-deals-slide__qty_sold">2</div>
          </div>
        </div>
        <!-- /.month-deals-slide__avail -->
        <div class="month-deals-slide__indicator"></div>
      </div>
      <!-- /.month-deals-slide -->
      <div class="month-deals-slide">
        <div class="month-deals-slide__label">
          <div class="mm-slider__btn"><i class="fas fa-chevron-left mm-slider__btn_prev"></i></div>
          <h2 class="month-deals-slide__label-head">Deals of the month</h2>
          <div class="mm-slider__btn"><i class="fas fa-chevron-right mm-slider__btn_next"></i></div>
        </div>
        <img src="src/images/phantom_front.png" class="month-deals-slide__img" alt="">
        <div class="month-deals-slide__prices">
          <div class="month-deals-slide__price_new">$2 989.95</div>
          <div class="month-deals-slide__price_old">$269.00</div>
        </div>
        <div class="month-deals-slide__heading">Devialet Gold Phantom Wireless Speaker</div>
        <div class="month-deals-slide__avail">
          <div class="month-deals-slide__available">
            <div class="month-deals-slide__qty">Available:</div>
            <div class="month-deals-slide__qty_avail">7</div>
          </div>
          <div class="month-deals-slide__sold">
            <div class="month-deals-slide__qty">Already Sold:</div>
            <div class="month-deals-slide__qty_sold">2</div>
          </div>
        </div>
        <!-- /.month-deals-slide__avail -->
        <div class="month-deals-slide__indicator"></div>
      </div>
      <!-- /.month-deals-slide -->
      <div class="month-deals-slide">
        <div class="month-deals-slide__label">
          <div class="mm-slider__btn"><i class="fas fa-chevron-left mm-slider__btn_prev"></i></div>
          <h2 class="month-deals-slide__label-head">Deals of the month</h2>
          <div class="mm-slider__btn"><i class="fas fa-chevron-right mm-slider__btn_next"></i></div>
        </div>
        <img src="src/images/watch_black.png" class="month-deals-slide__img" alt="">
        <div class="month-deals-slide__prices">
          <div class="month-deals-slide__price_new">$369.00</div>
          <div class="month-deals-slide__price_old">$269.00</div>
        </div>
        <div class="month-deals-slide__heading">Apple Watch Nike+ With Sport Band</div>
        <div class="month-deals-slide__avail">
          <div class="month-deals-slide__available">
            <div class="month-deals-slide__qty">Available:</div>
            <div class="month-deals-slide__qty_avail">7</div>
          </div>
          <div class="month-deals-slide__sold">
            <div class="month-deals-slide__qty">Already Sold:</div>
            <div class="month-deals-slide__qty_sold">2</div>
          </div>
        </div>
        <!-- /.month-deals-slide__avail -->
        <div class="month-deals-slide__indicator"></div>
      </div>
      <!-- /.month-deals-slide -->
      <div class="month-deals-slide">
        <div class="month-deals-slide__label">
          <div class="mm-slider__btn"><i class="fas fa-chevron-left mm-slider__btn_prev"></i></div>
          <h2 class="month-deals-slide__label-head">Deals of the month</h2>
          <div class="mm-slider__btn"><i class="fas fa-chevron-right mm-slider__btn_next"></i></div>
        </div>
        <img src="src/images/inspire_raw.png" class="month-deals-slide__img" alt="">
        <div class="month-deals-slide__prices">
          <div class="month-deals-slide__price_new">$4 699.99</div>
          <div class="month-deals-slide__price_old">$269.00</div>
        </div>
        <div class="month-deals-slide__heading">Inspire 1 RAW Dual Remote</div>
        <div class="month-deals-slide__avail">
          <div class="month-deals-slide__available">
            <div class="month-deals-slide__qty">Available:</div>
            <div class="month-deals-slide__qty_avail">7</div>
          </div>
          <div class="month-deals-slide__sold">
            <div class="month-deals-slide__qty">Already Sold:</div>
            <div class="month-deals-slide__qty_sold">2</div>
          </div>
        </div>
        <!-- /.month-deals-slide__avail -->
        <div class="month-deals-slide__indicator"></div>
      </div>
      <!-- /.month-deals-slide -->
      <div class="month-deals-slide">
        <div class="month-deals-slide__label">
          <div class="mm-slider__btn"><i class="fas fa-chevron-left mm-slider__btn_prev"></i></div>
          <h2 class="month-deals-slide__label-head">Deals of the month</h2>
          <div class="mm-slider__btn"><i class="fas fa-chevron-right mm-slider__btn_next"></i></div>
        </div>
        <img src="src/images/minidrone_parrot.png" class="month-deals-slide__img" alt="">
        <div class="month-deals-slide__prices">
          <div class="month-deals-slide__price_new">$109.95</div>
          <div class="month-deals-slide__price_old">$269.00</div>
        </div>
        <div class="month-deals-slide__heading">Parrot Mambo MiniDrone</div>
        <div class="month-deals-slide__avail">
          <div class="month-deals-slide__available">
            <div class="month-deals-slide__qty">Available:</div>
            <div class="month-deals-slide__qty_avail">7</div>
          </div>
          <div class="month-deals-slide__sold">
            <div class="month-deals-slide__qty">Already Sold:</div>
            <div class="month-deals-slide__qty_sold">2</div>
          </div>
        </div>
        <!-- /.month-deals-slide__avail -->
        <div class="month-deals-slide__indicator"></div>
      </div>
      <!-- /.month-deals-slide -->
      <div class="month-deals-slide">
        <div class="month-deals-slide__label">
          <div class="mm-slider__btn"><i class="fas fa-chevron-left mm-slider__btn_prev"></i></div>
          <h2 class="month-deals-slide__label-head">Deals of the month</h2>
          <div class="mm-slider__btn"><i class="fas fa-chevron-right mm-slider__btn_next"></i></div>
        </div>
        <img src="src/images/speaker_black.png" class="month-deals-slide__img" alt="">
        <div class="month-deals-slide__prices">
          <div class="month-deals-slide__price_new">$129.95</div>
          <div class="month-deals-slide__price_old">$269.00</div>
        </div>
        <div class="month-deals-slide__heading">Bose SoundLink Color Bluetooth Speaker II</div>
        <div class="month-deals-slide__avail">
          <div class="month-deals-slide__available">
            <div class="month-deals-slide__qty">Available:</div>
            <div class="month-deals-slide__qty_avail">7</div>
          </div>
          <div class="month-deals-slide__sold">
            <div class="month-deals-slide__qty">Already Sold:</div>
            <div class="month-deals-slide__qty_sold">2</div>
          </div>
        </div>
        <!-- /.month-deals-slide__avail -->
        <div class="month-deals-slide__indicator"></div>
      </div>
      <!-- /.month-deals-slide -->
      <div class="month-deals-slide">
        <div class="month-deals-slide__label">
          <div class="mm-slider__btn"><i class="fas fa-chevron-left mm-slider__btn_prev"></i></div>
          <h2 class="month-deals-slide__label-head">Deals of the month</h2>
          <div class="mm-slider__btn"><i class="fas fa-chevron-right mm-slider__btn_next"></i></div>
        </div>
        <img src="src/images/headphones_wireless .png" class="month-deals-slide__img" alt="">
        <div class="month-deals-slide__prices">
          <div class="month-deals-slide__price_new">$99.95</div>
          <div class="month-deals-slide__price_old">$269.00</div>
        </div>
        <div class="month-deals-slide__heading">Beats Solo3 Wireless On–Ear Headphones</div>
        <div class="month-deals-slide__avail">
          <div class="month-deals-slide__available">
            <div class="month-deals-slide__qty">Available:</div>
            <div class="month-deals-slide__qty_avail">7</div>
          </div>
          <div class="month-deals-slide__sold">
            <div class="month-deals-slide__qty">Already Sold:</div>
            <div class="month-deals-slide__qty_sold">2</div>
          </div>
        </div>
        <!-- /.month-deals-slide__avail -->
        <div class="month-deals-slide__indicator"></div>
      </div>
      <!-- /.month-deals-slide -->
    </div>
    <div class="month-deals__main-indicator">
      here circle blue indicator
    </div>
  </div>
  <!-- /.month-deals -->
</div>
<!-- /.container__month-deals -->
