<div class="container__slider">
  <div class="slider">
    <div class="slider__slides">
      <div class="slides__slide">
        <div class="slide slide_active">
          <div class="slide__goods-info">
            <div class="goods-info">
              <div class="goods-info__category">
                Audio and video
              </div>
              <!-- /.goods-info__category -->
              <div class="goods-info__heading">
                <div class="goods-info__title">Devialet Gold</div>
                <!-- /.goods-info__title -->
                <div class="goods-info__brand">Phantom</div>
                <!-- /.goods-info__brand -->
              </div>
              <!-- /.goods-info__heading -->
              <div class="goods-info__type">Wireless Speaker</div>
              <!-- /.goods-info__type -->
              <button class="goods-info__btn">Discover now</button>
              <!-- /.goods-info__btn -->
            </div>
            <!-- /.goods-info -->
            <div class="slide__goods-img"><img src="src/images/phantom.png" alt=""></div>
            <!-- /.slide__goods-img -->
          </div>
          <!-- /.slide__goods-info -->
        </div>
        <!-- /.slide slide_active -->
      </div>
      <!-- /.slides__slide -->
    </div>
    <!-- /.slider__slides -->
    <div class="slider__controls">
      <div class="slider-controls">
        <div class="slider_control slider_control--active"></div>
        <!-- /.slider slider_control -->
      </div>
      <!-- /.slider-controls -->
    </div>
    <!-- /.slider__controls -->
  </div>
  <!-- /.slider -->
</div>
<!-- /.container__slider -->
